@import url("../general-style.css");
body{
    background-image: url("../images/Leviathan-Background.jpeg");
    background-size: cover;
}
.moveable {
	position: absolute;
}
header {
	background-color: pink;
	height: 50px;
	display: block;
	text-align: center;
	z-index: 1000;
}
#logo {
	height: 100%;
	width: 10%;
	float: center;
	background-color: #98FB98;
}
#bob-name {
	float: left;
}
#devil-name {
	float: right;
}
h2 {
	text-shadow: -1px 1px white;
	line-height: 0px;
	vertical-align: middle;
	font-size: 30px;
}
.bob-bullet {
	position: absolute;
}
.devil-bullet {
	position: absolute;	
}
#bob-img {
	height: 120px;
	width: 100px;
}
#devil-img {
	height: 250px;
	width: 140px;
}
.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}